.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 15px;
}

.menu-item:hover {
  background-color: #2f91f4;
}

.menu-item.collapsed {
  padding: 10px 10px;
  text-align: center;
}
