.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  color: #ecf0f1;
  transition: width 0.3s;

  position: relative;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  color: #000000;

  position: relative;
}

.sidebar-header h2 {
  overflow: hidden;
  white-space: nowrap;
}

.toggle-btn {
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;

  position: absolute;
  right: -26px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar.collapsed ul li {
  padding: 10px 10px;
  text-align: center;
}

.sidebar-footer {
  justify-self: flex-end;
}
